body {
    padding: 0;
    margin: 0;
    background: url("../images/background_2.png");
    background-repeat: no-repeat;
}

#main-container {
    padding: 20px;
}

p {
    color: white;
    font-size: 24px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    margin: 10 0 10 0;
}

h2 { /* Character names */
    text-align: center;
}

.hp-text { /* Starting HP text */
    text-align: center;
}

.row-Images { /* The row of the images */
    /* border: 2px solid red; */
    padding: 10px;
}

.image-container, .container-to-clone, .action-container {
    text-align: center; /* to align text within container */
    display: inline-block;
    background-color: white;
}

.sword-placeholder {
    display: inline-block;
    width: 205px;
    height: 200px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 85%;
    height: auto;
    padding: 2px;
}

.hidden-on-start {
    visibility: hidden;
}

.health-points {
    color: black;
}

#log-container {
    width: 400px;
    padding: 10px;
}

.action-container {
    margin-bottom: 20px;
}

button {
    margin-top: 4px;
}

#attack-button-1 {
    margin-left: 13px;
}

#attack-button-2 {
    margin-left: 3px;
}